.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 200px;
    background-color: aqua;
    align-items: center;  /*?*/
    
}

.i1, .i2, .i3 {
    background-color: blueviolet ;
    width: 200px;
    height: 200px;
    text-align: center;
}