main{
    height: 100vh;
    width: 100vh;
}

body{
    background-image:url("../img/thewitcherbg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.view_point{
    display: flex;
    flex-direction: column;
    height: 10vh;
}
.title img{
    width: 10%;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30vh;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0vh;
    background-color: rgb(25, 24, 24);
    width: 100vh;
    height: 10vh;
}

